<div class="row">
	<div class="col s12">
	  <h3 class="center-align">Course Listing</h3>
	</div>
</div>
<div class="row">
	<div class="col s6 m6">
	  <div class="card blue-grey darken-1">
	    <div class="card-content white-text">
	      <span class="card-title">Code: CS111: Intro to Computer Science</span>
	      <p>A thorough Intro to CSE1</p>
	    </div>
	    <div class="card-action">
	      <a href="#">Enroll</a>
	      <a href="#">Info</a>
	    </div>
	  </div>
	</div>
	<div class="col s6 m6">
	  <div class="card blue-grey darken-1">
	    <div class="card-content white-text">
	      <span class="card-title">Code: CS112: Intro to Computer Science</span>
	      <p>A thorough Intro to CSE2</p>
	    </div>
	    <div class="card-action">
	      <a href="#">Enroll</a>
	      <a href="#">Info</a>
	    </div>
	  </div>
	</div>
</div>